<!-- string interpolation -->
Project title is {{title}}
<!-- method interpolation -->
<h1>{{getVal()}}</h1>
<!-- calculation -->
{{100+3}}
<!--comparison-->
<p>{{num==4}}</p>
<!-- class -->
<p class={{class}}>hello</p>

<!-- 
no increment & decrement
no typeof() function
no assignment
 -->


<!-- Event handling-Event binding -->
<button (click)="getName('name')" >Click</button>
<button (click)="getName(100)" >Click</button>
<button (click)="getName(true)" >Click</button>

<!-- other events -->
<button (mouseover)="getName('name')" >Click</button>
<input type="text" placeholder="keyup" (keyup)="getData()">
<input type="text" placeholder="keydown" (keydown)="getData2()">

<br><br>
<!-- get value using event binding -->
<input type="text" #input (keyup)="getInfo(input.value)">
<p>{{Enttxt}}</p>

<br>
<hr>
<!-- button event using get value/any action -->
<button (click)="increment('plus')">Increase</button>
<p><input type="text" value="{{Entnum}}"></p>
<button (click)="increment('minus')">Decrease</button>

<br><br>
<!-- property binding -->
<input #input1 type="text" value="{{title}}" placeholder="Input 1"> <br><br>
<input #input2 type="text" [value]="title" placeholder="Input 2">
<br><br>
<!-- boolean value -->
<input type="text" placeholder="one" disabled="{{isdisable}}"> <br><br>
<input type="text" placeholder="two" [disabled]="isdisable">




